[2015-06-22 12:38] izimobil opened #1 "Decide what minimum versions of django/python DAT should support"
At the moment DAT supports django 1.3 to django 1.7, to ease development and clean up things we should decide what minimum versions the next release should support.

Personally I would vote for django >= 1.7 (mainly because of the new migration system) and python 2.7 or python 3.

Older projects can still use DAT 0.5.2.

What do you think ?

[2015-06-22 12:44] yakky commented on #1
@izimobil :+1:

[2015-06-22 18:31] andybak commented on #1
I suppose I'd argue that we support as many versions as we can without it being a burden.

So we can keep move existing migrations into a south_migrations directory and South>=1.0 will automatically do the right thing. Maybe when we need new migrations we can decide whether it's worth the effort of generating South-style or whether we drop support at that point.

Another project that can really ea

[2015-06-23 08:21] izimobil commented on #1
While I'm usually in favor of not breaking BC, I would prefer if we give DAT a fresh start without the problems of the past (if you look at the bitbucket issues, a lot of them are related to django version compatibility).

Also, django official support for 1.4, 1.5 and 1.6 will end very soon, so I'm not sure it's worth adding a dependency.

[2015-06-23 08:42] andybak commented on #1
Sounds sensible

[2015-06-23 08:50] shtalinberg commented on #1
django >= 1.7
Older projects can still use DAT 0.5.2.
:+1:

[2015-06-23 08:55] andybak commented on #1
From: https://groups.google.com/forum/#!topic/django-developers/MTvOPDNQXLI

Q: I’m the maintainer of a reusable application. Which Django versions should I support?
A: We recommend that you support the same Django versions that are supported by the Django team. With the new deprecation policy, it should be possible to support two consecutive LTS releases (e.g. 1.8 and 2.1) and all the non-LTS ver

[2015-06-25 04:13] yarbelk opened #2 "work with staticfiles"
When using something like Django-storages, django-compressor or related, esp when uploading to s3 or a CDN, the media_url() manual creation of asset URIs breaks down.

This can be fixed by leveraging the staticfiles app, and replacing the/extending the static template insteand of rolling one based on the media_url()

[2015-06-25 09:05] andybak commented on #2
I'm guessing that's left over from earlier support for Django < 1.3 but you're right and it should be fairly simple to fix. As always - patches welcome. :)

[2015-06-25 10:27] anrie commented on #1
A new DAT version that requires at least Django 1.7 and switches to the new migrations sounds like the way to go!

[2015-06-25 10:30] #1 closed

[2015-06-25 10:31] izimobil commented on #1
Closing this issue. Compatibility django >= 1.7 seems to be the consensus.

[2015-06-25 10:35] izimobil opened #3 "Update and cleanup django-admin-tools code to reflect compatibility with django >= 1.7"
Remove old migrations and adopt new migration system.
Remove all hacks that try to make it compatible with django <= 1.6.
Update docs/setup/etc.

[2015-06-25 10:37] izimobil commented on #2
This could be done as part of bug #3 , but I second @andybak , pull requests are welcome !

[2015-07-04 05:19] holms opened #6 "django 1.8 support"
Seems to be it's broken

[code]

[2015-07-04 11:52] andybak commented on #6
Hopefully fixed by 57e3ae902ceaa3dc04086654502f9578ff3a541c - tox is passing. Can you confirm?

[2015-07-04 11:55] andybak commented on #3
Migrations should be OK. I've left south_migrations in place. We probably want to document how to get updated from earlier versions.

(I'm still in the process of figuring out the best way to do this for my own projects some of which are still on 1.4. Currently I'm updating to Django 1.6, running all south migrations and then updating all code to 1.7+ and running native Django migrations)

[2015-07-04 12:01] andybak commented on #3
Switched the test runner to DiscoverRunner - @kmike - is it safe to delete runtests.sh now?

[2015-07-04 12:37] izimobil commented on #3
I think it's safe, but docs need to be updated, especially https://github.com/django-admin-tools/django-admin-tools/blob/master/docs/testing.rst

[2015-07-05 20:41] kmike commented on #3
@izimobil said it all.

[2015-07-05 21:51] izimobil opened #7 "Next version"
Releasing a new version is quite urgent as v0.5.2 is *not* compatible with django 1.8 (and has issues with 1.7 as well).

On the top of my head, here are the things that block the release:
- ensure manually that all is working with django 1.7 and 1.8 (unit tests aren't enough)
- update docs ! and emphasize the fact we no longer support django < 1.7
- build a release note (and emphasize... see abov

[2015-07-06 11:58] andybak commented on #7
My time is fairly limited for the next couple of weeks so I'll be limited to contributing where it overlaps with my project requirements.

I've currently using the dashboard successfully with Django 1.7 and I'm fairly sure it works with 1.8 as well. (I have an experimental 1.8 branch for the same project and it seemed ok). Not very scientific or rigorous but it's another datapoint for the 'does it

[2015-07-06 13:39] shtalinberg commented on #7
I manually test ( commit 71ad7eb23415a7e9491225cd972b679b6a2874b7 ) in my project
works with:
Django==1.8.2
django-autocomplete-light==2.2.3
django-reversion==1.8.7
.......
as well. Noticed nothing critical.

[2015-07-06 14:00] izimobil commented on #6
@holms : I suspect your problem is due to a misconfiguration of DAT, see: https://django-admin-tools.readthedocs.org/en/latest/configuration.html#required-settings (request context processor must be added to TEMPLATE_CONTEXT_PROCESSORS). Also, can you confirm the current git version of DAT works with your 1.8 install so we can close this bug ? Thanks.

[2015-07-07 01:18] holms commented on #6
Sorry guys, moved out for ```django-suit```. I had gazillions of warnings during tests, and I couldn't actually even collect statics, it can find some kind of css files. So I decided to move out from this solution. Would be nice if some one would actually make this work in django 1.9. Currently for me this is broken, and I'm not willing to open 3 more issues to fix this :) Good luck :+1:

[2015-07-07 07:09] #6 closed

[2015-07-07 08:42] izimobil commented on #2
Should be fixed now.

[2015-07-07 08:42] #2 closed

[2015-07-07 09:02] izimobil commented on #3
Should be completely fixed now.

[2015-07-07 09:02] #3 closed

[2015-07-07 10:32] izimobil commented on #7
I finally found some time to close some issues, update the docs and prepare a CHANGELOG, please review it if you can and if you're all OK, I'll release a 0.6.0 tomorrow.

[2015-07-07 10:41] andybak commented on #7
Looks good to me. I've added a couple of comments - mostly minor. Although the settings version check might be worth a look.

[2015-07-07 10:54] izimobil commented on #7
@andybak can you have fix those issues before tomorrow ? I don't have any free time this afternoon.
Thanks !

[2015-07-07 14:23] andybak commented on #7
Done

[2015-07-07 16:31] izimobil commented on #7
https://pypi.python.org/pypi/django-admin-tools/0.6.0 :)

[2015-07-07 16:31] #7 closed

[2015-07-07 16:43] andybak commented on #7
Well done. Thanks for your hard work!

[2015-07-11 09:06] miurahr opened #8 "App title does not i18n-ed"
App titles are always to be capfirst-ed app.label.title().

It should be  {% trans app.name %} that priority of name is

1. verbose_name
2. app.title()

The `verbose_name` is initialized as `app.title()` In django appconfig __init__()  when there is no `verbose_name` specified. It is because we can always use `verbose_name` for  template name.

Problem is located here
https://github.com/django-adm

[2015-07-14 19:22] frensjan commented on #8
I'd say ```apps.get_app_config(app_label).verbose_name``` would do the trick to get the app title. (where ```apps``` = ```django.apps```).

[2015-07-14 19:26] frensjan opened #9 "Children of admin_tools.dashboard.modules.ModelList aren't sorted"
In contrast to the behavior of ```AppList```, the children of ```admin_tools.dashboard.modules.ModelList``` don't seem to get sorted. Adding ```self.children.sort(key=lambda x: x['title'])``` to [init_with_context](https://github.com/django-admin-tools/django-admin-tools/blob/master/admin_tools/dashboard/modules.py#L527) should do the trick.

[2015-07-14 22:58] miurahr commented on #8
Thanks but `apps` in the above function is not `django.apps`

following seems working for me

[code]

[2015-07-14 23:02] miurahr commented on #8
This is also worked

[code]

[2015-07-14 23:16] miurahr commented on #8
@frensjan thanks for suggestion, I've pushed PR on your solution.
Here seems to be a couple of lines that can be better using `django_apps` because there are many `_meta`  but it should be as another issue.

[2015-07-15 08:59] frensjan commented on #8
sure, seems like the solution I was going for!

[2015-07-15 16:06] #8 closed

[2015-07-15 16:08] izimobil commented on #9
Can you please send a pull request for this ? Thanks.

[2015-08-21 01:19] abbottc opened #14 "ADMIN_TOOLS_THEMING_CSS documentation"
The docs (http://django-admin-tools.readthedocs.org/en/latest/configuration.html) describe ADMIN_TOOLS_THEMING_CSS as being relative to MEDIA_URL.  Should this instead be STATIC_URL?  This just looks like a documentation mistake, as the code appears to be using STATIC_URL.

[2015-08-22 13:47] andybak opened #15 "Django 1.8/1.9 warnings"
RemovedInDjango19Warning: Model class django.contrib.contenttypes.models.ContentType
    doesn't declare an explicit app_label and either isn't in an application in INSTALLED_APPS
    or else was imported before its application was loaded. This will no longer be supported in
    Django 1.9.

I've pushed a quick fix for now that is safe but a touch dirty. I've just moved the imports inside their re

[2015-08-25 13:49] svenvandescheur opened #17 "Documentation issue: INSTALLED_APPS"
While reading the documentation on http://django-admin-tools.readthedocs.org/en/latest/configuration.html I read the following:

[code]

Doing so resulted in missing static files (like utils.js). Adding 'admin_tools'  to the list seemed to solve this issue (solved it after looking in the sample coniguration: https://github.com/django-admin-tools/django-admin-tools/blob/master/test_proj/settings.py

[2015-09-01 08:43] #14 closed

[2015-09-01 08:43] #17 closed

[2015-09-01 09:54] #15 closed

[2015-09-01 09:57] izimobil opened #19 "Menu: text and arrow overlap when label is too long"
When the menu item label is too long (eg. "Authentication and Authorization") the text overlaps with the item arrow.

[2015-09-02 18:33] andybak opened #21 "Should theming be overriding base.html the way it does?"
I spent an hour today working out why several Django 1.8 changes weren't showing up.

I'd used 'theming' to fix some CSS and it overrides base.html. So we need to update the included base.html to match the Django version

This means maintaining a different base.html for each Django version and figure out how to load the correct one for a given install.

Considering the only reasons for overriding

[2015-09-02 18:40] andybak commented on #21
Within my own projects I've been using django-apptemplates: https://pypi.python.org/pypi/django-apptemplates/

This adds a template loader that namespaces 'extends' to a specific app. So I can do:

    {% extends "admin:admin/base_site.html" %}

in my template and override only the blocks I need without getting a circular 'extends' loop.

This allows me to reduce the copy+paste from Django's base.

[2015-09-02 18:41] andybak commented on #21
Here's a similar alternative to apptemplate: https://github.com/stephenmcd/django-overextends

[2015-09-03 08:08] izimobil commented on #21
Yep, maintaining admin templates has always been a problem.
I'm usually against adding dependencies but in this case I'm +1 on using apptemplates (I prefer it to overextends btw). I did a quick test and it works great, I'll send a pull request, I have some time left today.

[2015-09-17 12:28] #21 closed

[2015-09-17 12:29] #19 closed

[2015-09-22 06:02] eternalfame opened #23 "conflict with django.apps.AppConfig"
In new django versions there's ability to create AppConfig classes where developer can provide a verbose name for an application and much more.
But when I use this AppConfig class, the application page (e.g. /admin/app_name/) gives an unfiltered list of all models from all applications ignoring their app_labels.
The issue disappears when I disable admin_tools and use standard django admin panel

[2015-09-22 06:10] eternalfame commented on #23
I rewrote dashboard.utils.get_app_index_dashboard function so it works, but not sure it will not provide further issues

[2015-09-24 15:19] benjamindej opened #24 "django.conf.urls.patterns() is deprecated and will be removed in Django 1.10"
Deprecated 'django.conf.urls.patterns' are still used at some places.

`(...)admin_tools/urls.py:10: RemovedInDjango110 Warning: django.conf.urls.patterns() is deprecated and will be removed in Django 1.10. Update your urlpatterns to be a list of django.conf.urls.url() instances instead.`

Run
`$ python -Wall manage.py test`
 to see the other warnings.

[2015-10-05 10:27] izimobil opened #25 "Django flat theme support"
To support django-flat-theme for django 1.9 and django < 1.9 with django-flat-theme as an external app, we need:
- a "detect_admin_theme" helper that would return "legacy" or "flat" based on django version or 'flat' in installed_apps
- additional css files (and maybe sprite image) for the flat theme, that will override necessary css classes of the default files (untouched)
- modify template tags a

[2015-10-05 11:01] vdboor commented on #25
Addition: when implementing this, one may want to look at https://github.com/vdboor/django-admin-tools/tree/flat-theme for inspiration where I've implemented CSS changes to make the theme appear more in line with flat-theme. These changes are not backwards compatible.

[2015-10-27 09:43] izimobil commented on #25
@andybak , @vdboor

Pull https://github.com/django-admin-tools/django-admin-tools/pull/26 request should fix the issue.

DAT now looks good with or without the flat theme changes in django 1.9, tested on django 1.7, 1.8 and 1.9 (note that I didn't test dj17 or dj18 with django-flat-theme as a separate app).

[2015-10-27 09:48] izimobil commented on #24
Fixed in https://github.com/django-admin-tools/django-admin-tools/commit/9ab2333fe4cdff5a92f657593157f5ffd26c41e8

[2015-10-27 09:48] #24 closed

[2015-10-27 09:49] izimobil commented on #23
Could you be more precise about the issue and publish the changes you made ? thanks.

[2015-10-27 10:42] eternalfame commented on #23
okay,
when application verbose name is translated, the index dashboard of this app (e.g. /admin/<app_name>/) returns the list of all models registered on this site, not the models that belong to the app (as it should be)
example: django.contrib.auth app translated in russian:
before fix:
![1 before fix](https://cloud.githubusercontent.com/assets/3793809/10755716/ba8556b4-7ce2-11e5-96d6-5394290006f

[2015-10-27 11:11] #23 closed

[2015-10-27 11:36] izimobil commented on #9
Hmm, It's a bit more complicated than this.

ModelList items that are explicit (you specify each model explicitly without wildcards, eg. django.contrib.auth.models.User) should not be sorted but displayed with same order as the developer choice. Alternatively, when you have a model list that contains items with wild cards (eg. django.contrib.auth.*) I agree that the matching models should be sorte

[2015-10-27 11:36] #9 closed

[2015-10-27 12:38] kilgoretrout1985 opened #28 "0.6.0 distrs from pypi are broken"
Hello,

django-admin-tools-0.6.0.tar.gz and django_admin_tools-0.6.0-py2.py3-none-any.whl from https://pypi.python.org/pypi/django-admin-tools are broken - they both don't have admin_tools/template_loaders.py file.

So official docs, requiring to setup 'admin_tools.template_loaders.Loader' + 0.6.0 installed with pip = ImportError.

[2015-10-27 12:50] izimobil commented on #28
Files are not broken at all, 'admin_tools.template_loaders.Loader' was introduced **after** the 0.6.0 release and the relevant docs for this version are correct: http://django-admin-tools.readthedocs.org/en/v0.6.0/

The "latest" docs refer to the next (in development) version of django-admin-tools that is not released yet.

[2015-10-27 12:50] #28 closed

[2015-10-27 16:55] andybak opened #29 "Mixing ModelList and LinkLists"
I like my dashboard panels to be grouped by theme.

Therefore - it is useful to be able to intersperse custom admin pages (via links) with changelists:

        self.children.append(MixedList(
            _('Newsletter'),
            children=(
                {models: 'newsletter.models.*'},
                {'title': 'Image library', 'url': reverse('filebrowser:fb_browse')},
            )

[2015-10-29 15:36] soulraven opened #30 "Support for django 1.9"
Hello,
any idea when the django 1.9 support will be public?

[2015-11-05 09:48] madEng84 opened #31 "django.db.migrations.loader.BadMigrationError: Migrated app 'menu' contains South migrations."
1. django.db.migrations.loader.BadMigrationError: Migrated app 'menu' contains South migrations. Make sure all numbered South migrations are deleted prior to creating Django migrations.

2. django.db.migrations.loader.BadMigrationError: Migrated app 'dashboard' contains South migrations. Make sure all numbered South migrations are deleted prior to creating Django migrations.

The solution is renam

[2015-11-05 09:57] izimobil commented on #31
What version are you using ? Migrations have already been renamed since version 0.6.0...
See https://github.com/django-admin-tools/django-admin-tools/commit/8b144dddf027f72c98713fabe5e9e0eba58e7c2d .

[2015-11-05 10:05] izimobil commented on #30
Support for django 1.9 is now complete for the development version, a new release is coming soon.

[2015-11-05 10:05] #30 closed

[2015-11-05 10:06] #25 closed

[2015-11-05 10:07] izimobil commented on #29
@andybak OK for me but I suggest we merge the changes after the new release. I'd like to release the new version in the next days.

[2015-11-05 10:17] madEng84 commented on #31
@izimobil you are right.
I'm using version 0.5.2 because of a conflict with an other package, but actually i don't remember what package... I think modeltranslation or/and easy_thumbnails.
I found this error using 0.5.3

[2015-11-05 10:17] #31 closed

[2015-11-10 12:35] soulraven opened #32 "Error on windows envirament"
i get this error on windows environment:
[Errno 22] Invalid argument: u'G:\\Developer\\PyCharmProjects\\proGeekEnv\\lib\\site-packages\\admin_tools\\theming\\templates\\admin:admin\\index.html'

http://dpaste.com/0JYS2RA

[2015-11-10 13:58] izimobil commented on #32
Have you added the new required template loader (admin_tools.template_loaders.Loader) to your TEMPLATES settings variable ? see http://django-admin-tools.readthedocs.org/en/latest/quickstart.html#basic-configuration

[2015-11-10 14:53] soulraven commented on #32
yes, is added, the problem appears only when i have ported to windows machine, on linux is working just fine
[code]

[2015-11-13 12:53] andybak commented on #32
dpaste link has expired. probably best to put a trimmed traceback directly into the issue itself. Can you do that?

[2015-11-16 11:41] mjl opened #33 "DjangoUnicodeDecodeError when model title contains non-ascii characters"
Our models.py contains

[code]

This causes django-admin-tools 0.7.0 to explode with

[code]

The cause are the `{% trans item.title|capfirst %}` in *admin_tools/menu/templates/admin_tools/menu/item.html* and *admin_tools/dashboard/templates/admin_tools/dashboard/modules/app_list.html*.

For one, I'm not sure that doing a capfirst and then translating ist the right thing in the first place: the tr

[2015-11-19 10:38] puterleat opened #34 "incompatible with django.template.loaders.cached.Loader"
Currently admin-tools raises an exception if you use django.template.loaders.cached.Loader, which is quite useful with floppyforms to improve performance

This line is responsible: https://github.com/django-admin-tools/django-admin-tools/blob/master/admin_tools/__init__.py#L46  because cached.Loader makes TEMPLATE_LOADERS into a nested list: https://docs.djangoproject.com/en/dev/ref/templates/api/

[2015-11-19 11:29] izimobil commented on #32
I think this error is caused by a django template loader located before admin_tools loader... On windows AFAIK semicolon is not accepted in filenames, hence the Errno 22.

I think that a quick fix would be to put the 'admin_tools.template_loaders.Loader' **first** in the template loaders list.

@soulraven can you try this and tell us if it solves the issue ?

[2015-11-19 11:33] izimobil commented on #34
Thanks for the bug report, be7ce4e should fix the issue.

[2015-11-19 11:33] #34 closed

[2015-11-19 11:54] izimobil commented on #33
I agree with you on the trans call, it should not be the responsability of admin_tools to do this, we will look at this soon (there are a lot of unecessary trans calls IMO).

Capfirst is more justified because django models (like auth.Group) are not capitalized and it look weird when mixed with capitalized models.

That said, I think your original error is due to the fact that your verbose_name_pl

[2015-11-27 09:09] sergei-maertens opened #35 "Template loader"
I just tried updating to 0.7.0 which requires ``admin_tools.template_loaders.Loader`` to be added to the ``TEMPLATES`` setting. However, I think the ``check_config`` behaviour is incorrect, as template loaders can be nested.

See https://github.com/modelbrouwers/modelbrouwers/blob/c1d3e7ec6976fda11f5f00d4ba923a6a506b82d6/src/conf/settings/base.py#L139 and https://github.com/modelbrouwers/modelbrou

[2015-11-27 09:12] izimobil commented on #35
This issue has been fixed by https://github.com/django-admin-tools/django-admin-tools/commit/be7ce4e77a68d7f3986dbd7fa8ba38dddf0c59a5 recently. A new bugfix release is coming soon.

[2015-11-27 09:13] #35 closed

[2015-11-27 09:32] sergei-maertens commented on #35
Great, thank you. I was in a bit of a hurry and didn't check the closed issues, I'm sorry!

[2015-11-27 09:36] izimobil commented on #35
No problem, BTW the 0.7.1 release is published.

[2015-11-27 09:39] izimobil commented on #32
@soulraven I'd like to update the documentation if what I suggested is true and I don't have a Windows environment to test, so it would be great if you could take some time to verify this. Thanks.

[2015-11-27 10:05] soulraven commented on #32
yes, is true, i have try the solution and is working.

[2015-12-04 12:44] vstoykov commented on #33
@mji I think that @izimobil  is right. Looks like your `verbose_name` is not a `unicode` instance. But for all to be sure if this is the reason can you tell us which version of python you are using (python 2 or 3) and if you are on 2 do you have `from __future__ import unicode_literals` on top of the file?

[2015-12-05 14:00] lzanuz opened #36 "RuntimeError: populate() isn't reentrant"
Hi all,

I tryed to upgrade from 0.6.0 to 0.7.1 version and when I run django I have the error bellow:
I returned to 0.6.0 version and it's running fine.
Any idea?

Thanks.

[2015-12-05 14:47] lzanuz commented on #36
Worker...
I have not added template loader: 'admin_tools.template_loaders.Loader'
By.

[2015-12-05 14:47] #36 closed

[2015-12-08 08:42] #32 closed

[2015-12-31 12:37] spookylukey opened #37 "check_configuration assumes parameters to loaders are always tuples"
Specifically:

https://github.com/django-admin-tools/django-admin-tools/blob/master/admin_tools/__init__.py#L38

    for loader in loaders:
        if isinstance(loader, (tuple, list)):
            loaders += loader[1]

This code is presumably trying to handle:

    TEMPLATE_LOADERS = (
        ('django.template.loaders.cached.Loader', (
            'django.template.loaders.filesystem.Loader',

[2016-01-10 18:14] izimobil commented on #37
@spookylukey thanks, https://github.com/django-admin-tools/django-admin-tools/commit/9f3ba54d34a77592a33fa47ce8439df1efa7b9c1 should fix all issues

[2016-01-10 18:14] #37 closed

[2016-01-11 09:29] spookylukey commented on #37
Thanks so much!

[2016-01-11 09:35] #33 closed

[2016-01-11 09:54] andybak commented on #29
Just thinking about this. Some options:

1. We make ModelList itself more flexible - if a child item has title/url instead of a 'models' key then it does the right thing.

2. We replace LinkList and ModelList with a new class that is smart enough to handle mixed content and keep the old names around as deprecated aliases.

3. Keep LinkList and ModelList exactly as they are and create a new class.

[2016-01-11 11:14] izimobil commented on #29
I'm not very happy with the current API, I think that in the long term we should completely rethink the way dashboards and menus are built, and make it much simpler with shortcuts that are smart enough to decide what module should be used.

In the meantime, I'd vote for your solution 3: "MixedList", just because it's the safest solution and it will not introduce regressions.

[2016-01-11 11:20] andybak commented on #29
Got any examples of the kind of thing you're thinking of? It might be without much extra effort this could be a small step towards it.

[2016-01-11 11:36] izimobil commented on #29
No, I'm not sure of the best way to simplify the API, we need to think about it. Maybe something like:

[code]

But IMO it can be a lot of work to make it properly (and a good documentation is also needed).
I think you'd better implement a MixedList for now and we could open a new issue and launch a discussion on a possible new API, what do you think ?

[2016-01-15 09:06] andybak opened #39 "Adaptor to use Nexus modules on dashboard"
Adding this mostly as a reminder for me to have a look and gauge interest from others.

Looks fairly simple: https://github.com/YPlan/nexus/blob/master/tests/testapp/test_nexus_modules/test_hello_world.py

[2016-01-31 17:28] sztankatt opened #42 "TemplateDoesNotExist at /admin/ admin:admin/index.html error"
Just installed this package, and I get the above error.

Seems that I cannot use `{% extends "admin:admin/index.html" %}` within the templates.

Any thoughts?

[2016-02-01 09:54] Anton-Shutik commented on #42
@sztankatt Got exactly the same issue when upgrading  Django from 1.8.7 to 1.9.1

[2016-02-01 09:56] sztankatt commented on #42
@Anton-Shutik Yeah, although I have Django 1.8.5. Also, to clarify, I am running it on ubuntu 14.04 locally.

[2016-02-01 10:17] izimobil commented on #42
But have you correctly configured django-admin-tools ?

Since versions 0.7.x, you must add `admin_tools.template_loaders.Loader` to your template loaders as stated in the [release notes](https://github.com/django-admin-tools/django-admin-tools/blob/master/CHANGELOG) and in the [documentation](http://django-admin-tools.readthedocs.org/en/latest/quickstart.html#basic-configuration).

[2016-02-01 11:29] Anton-Shutik commented on #42
@izimobil
That helped for me!

Thanks!

[2016-02-02 09:07] #42 closed

[2016-02-02 16:37] benzolius opened #43 "app_dirs must not be set when loaders is defined"
I'm trying to use django-admin-tools as instructed here:

http://django-admin-tools.readthedocs.org/en/latest/configuration.html

I get this:

  File "/home/age/prj/django-admin/venv/lib/python3.4/site-packages/django/template/engine.py", line 44, in __init__
    "app_dirs must not be set when loaders is defined.")
django.core.exceptions.ImproperlyConfigured: app_dirs must not be set when loaders

[2016-02-02 17:08] izimobil commented on #43
This is not a django-admin-tools issue, you probably didn't set the django templates loaders setting correctly.

Make sure you have `django.template.loaders.filesystem.Loader` and `django.template.loaders.app_directories.Loader` in your template loaders.

[2016-02-02 17:08] #43 closed

[2016-02-02 17:30] benzolius commented on #43
Thanks for explanation.

[2016-03-11 11:53] andybak commented on #29
Hi,

Haven't forgotten about this. My requirement for MixedList faded away but I need to do some more finessing of my dashboard UX so it will definitely come back.

Happy to discuss a new API.

[2016-03-14 20:04] botnetbuster commented on #42
I'm having the same problem with Django 1.7 but followed the documentation. Django's also whining about `admin_tools.template_loaders.TemplateLoader` even after I add it to `TEMPLATE_LOADERS`:

**urls.py**
[code]

**settings.py**
[code]

**console**
[code]

[2016-03-15 06:34] izimobil commented on #42
You have a typo in tour template loaders variable... s/TEMPLATES_/TEMPLATE_/ . Also, you should put thé default Django loaders in it.

[2016-03-16 12:19] botnetbuster commented on #42
Solved my problem. Fixed the variable name and included the Django loaders as @izimobil advised. Thanks!

[2016-04-03 21:17] arsenalstriker14 commented on #42
Django 1.8 >
TEMPLATE_LOADERS setting deprecated.
You have to use the TEMPLATES dictionary.
I think you're going to want something like:

settings.py

    TEMPLATES = [
    {
        'BACKEND': 'django.template.backends.django.DjangoTemplates',
        'DIRS': [os.path.join(BASE_DIR, "templates")],
        'OPTIONS': {
            'context_processors': [
                'django.template.context_pr

[2016-04-04 07:58] izimobil commented on #42
This is [already documented](https://django-admin-tools.readthedocs.org/en/latest/configuration.html#required-settings).

[2016-04-04 09:57] wangshunping opened #47 "404 is raise"
When I modify settings.py and urls.py according to http://django-admin-tools.readthedocs.org/en/latest/quickstart.html and locate url , it was always raising 404 to me.

![image](https://cloud.githubusercontent.com/assets/10842398/14244616/a06d15d0-fa8e-11e5-9df8-7af932c6086e.png)

![image](https://cloud.githubusercontent.com/assets/10842398/14244619/a5ee59ec-fa8e-11e5-947e-3ae873a2e086.png)

Do y

[2016-04-04 14:30] arsenalstriker14 commented on #42
Only saw the call to the deprecated TEMPLATE_LOADERS variable. Pardon me for trying to help.

[2016-04-04 16:26] izimobil commented on #42
Sorry, I didn't meant to be rude :) thanks for your help, if you want to make a pull request on the documentation, you are welcome.

[2016-04-04 19:15] arsenalstriker14 commented on #42
Perhaps I was a bit touchy. Apologies.

[2016-04-07 08:47] aclef opened #49 "ontent"

[2016-04-07 08:47] #49 closed

[2016-04-07 08:52] izimobil commented on #47
Please make sure your urls configuration is OK. If you want more help you'll have to post more information on your setup.

[2016-04-20 09:21] izimobil commented on #47
I'm closing this issue since there is no feedback.

[2016-04-20 09:21] #47 closed

[2016-05-21 21:00] coagulant opened #55 "Commits for releases after v0.6.0 not tagged"
Having tags in git simplifies reviewing changes when updating package as end-user.

[2016-06-29 01:42] datamafia opened #57 "Correction for Django Warning for Template Loader +"
The following warning is issued:

[code]

When added as instructed:

[code]

the following error is returned:

[code]

I noticed that ```admin_tools.template_loaders``` has a class named ```Loader``` as seen:

https://github.com/django-admin-tools/django-admin-tools/blob/master/admin_tools/template_loaders.py#L41

More than happy to issue a PR if that helps, wanted to confirm this minor issue or g

[2016-06-29 08:31] #57 closed

[2016-06-29 08:31] izimobil commented on #57
Hi,
yes it was a typo in the warning message that has been fixed in master: https://github.com/django-admin-tools/django-admin-tools/blob/master/admin_tools/checks.py#L6

[2016-07-08 13:58] setsu opened #58 "Ordering apps by verbose_name in AppIndexDashboard"
Hi
I don't get how AppIndexDashboard orders the "self.models" list in the AppIndexDashboard
Is it possible to order it alphabetically?

Thank's.
Pietro

[2016-08-01 23:00] datamafia opened #61 "Django 1.8 Configuration"
Hello.

In upgrading an app that uses admin tools to 1.8 we have a config issue.

The current config:

[code]

The ```APP_DIRS``` when [set to True allows per app template directory discovery](https://docs.djangoproject.com/en/1.8/ref/settings/#app-dirs). To use the ```loaders``` then  ```APP_DIRS``` must be False.

Is there a compromise?  With ```APP_DIRS``` set to False all of the templates brea

[2016-08-02 07:29] izimobil commented on #61
Hi,

Just set your loaders like this:
[code]

Having `APP_DIRS` set to `True` is basically the same as adding `'django.template.loaders.app_directories.Loader'` in your template loaders.

BTW I find this setting variable (`APP_DIRS`) very confusing, I think the django folks should deprecate it.

[2016-08-02 07:29] #61 closed

[2016-08-02 08:50] izimobil commented on #58
Indeed, models are not sorted, I'm going to fix this very soon.

[2016-08-03 20:39] mboisvertUW opened #63 "Using MultiTenant - sometimes Admin-Tools dashboard does not show up"
I have been successfully using Admin-tools for awhile and really like it.  Easy to use and does what I need.  However, recently I changed my app to be multitenant (using django-tenants) and sometimes the dashboard file seems to be ignored.  Oddly enough, what I have found 'fixes' it is making a change to the settings file.  Once I do that and refresh it will work correctly.

Any idea why that woul

[2016-08-04 03:15] dhcn opened #64 "NoReverseMatch at /admin/"
NoReverseMatch at /admin/
Reverse for 'admin-tools-dashboard-set-preferences' with arguments '('dashboard',)' and keyword arguments '{}' not found. 0 pattern(s) tried: []
Request Method:	GET
Request URL:	http://127.0.0.1:8000/admin/
Django Version:	1.9.8
Exception Type:	NoReverseMatch
Exception Value:
Reverse for 'admin-tools-dashboard-set-preferences' with arguments '('dashboard',)' and keyword a

[2016-08-04 03:19] dhcn commented on #64
got result:
because urls settings does not contain url(r'^at/', include('admin_tools.urls')), settings

[2016-08-08 00:57] dhcn opened #65 "The error after Django upgrade to 1.10"
File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/admin_tools/urls.py", line 2, in <module>
    from django.conf.urls import patterns, url, include
ImportError: cannot import name patterns

[2016-08-08 01:18] dhcn commented on #65
Second Error:
Error during template rendering

In template /Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/admin_tools/dashboard/templates/admin/index.html, error at line 0
The format for date objects may not contain time-related format specifiers (found 'H').
1	{% extends "admin:admin/index.html" %}
2	{% load admin_tools_dashboard_tags %}
3	{% block extrastyle %}
4

[2016-08-12 00:24] PetrDlouhy commented on #65
This should be fixed by #60. But there is no PyPI release with those last commits. @izimobil can you please make new PyPI version?

[2016-08-12 08:58] izimobil commented on #65
@PetrDlouhy are you sure this is fixed by pull request #60 ?

[2016-08-12 08:59] #64 closed

[2016-08-12 09:06] izimobil commented on #63
Sorry I have no idea, I suspect it could be a threadlocals issue, this kink of bug is really hard to track, you should report a bug in the multitenant tracker instead. Regards.

[2016-08-12 09:06] #63 closed

[2016-08-12 09:28] PetrDlouhy commented on #65
The original error should be fixed by https://github.com/django-admin-tools/django-admin-tools/pull/60/commits/2bf278d6acc0b87b794ed36173ba46e9566b7ae4

I am not sure about the second error, because I don't get such error in my installation. @dhcn you might need to provide more information about specific settings of your installation.

[2016-08-12 09:38] izimobil commented on #65
OK. Thanks, a release is coming soon.

[2016-08-12 09:58] izimobil commented on #55
Done.

[2016-08-12 09:58] #55 closed

[2016-08-12 10:08] izimobil commented on #65
0.8.0 released :)

[2016-09-08 21:59] garylim-me commented on #47
Hi! I'm getting something very similar to the OP (also followed the quickstart guide). Here's my screenshot:

<img width="922" alt="screenshot 2016-09-08 14 53 14" src="https://cloud.githubusercontent.com/assets/1128448/18368304/3161aba8-75d4-11e6-91e6-ef1531bd512d.png">

and my urls.py:

[code]

I'm using 0.80 on Django 1.9. Thanks!

[2016-09-08 22:24] izimobil commented on #47
Well, you didn't configure your urls as the quickstart guide says. Tou must configure the admin site "normally" and add this to your url conf:
`url(r'^admin_tools/', include('admin_tools.urls'))`
https://django-admin-tools.readthedocs.io/en/latest/configuration.html

[2016-09-08 22:47] garylim-me commented on #47
I thought the regex could be defined by the user, but I've made the changes to my urls.py file, and still got the same error. Here's the new screenshot after making the changes:

<img width="910" alt="screenshot 2016-09-08 15 45 42" src="https://cloud.githubusercontent.com/assets/1128448/18369581/814818f8-75db-11e6-866c-95e2adbe5dbb.png">

[2016-09-09 06:07] izimobil commented on #47
Sure the regex is customizable, but why do you want to call admin_tools views directly ?
Those views are only used internally by admin tools, they are not intended to be accessed directly, you must point your browser to the **django admin interface** instead (ie. /admin/ or whatever URL path you set for it).

Please redo the steps as explained in the quickstart guide and it will work. See also how

[2016-09-09 06:10] izimobil commented on #47
To be more clear: Django Admin Tools is **not** a replacement app for the django admin, it's just a layer on top of it.

[2016-09-09 06:11] #65 closed

[2016-09-09 09:12] garylim-me commented on #47
Oh! Ok I get it now. Thanks for clarifying!!

Just to close the loop here in case anyone else stumbles on this, here's a snippet of my urls.py (includes both url mappings):

[code]

[2016-11-22 15:31] calicant opened #66 "Default admin when configured with multiple admin sites"
Hi,

when ADMIN_TOOLS_MENU is a dict,
I think it would be a good thing to have a fallback default admin.

I have a bounch of  urls out of admin routing
that now raise a  "Dashboard menu matching" when menu is rendered.

Thanks,

Luca

[2017-01-02 20:59] MiroslawCzechorowski opened #67 "Problem with admin page"
ImportError at /admin/
cannot import name 'smart_unicode'
Request Method:	GET
Request URL:	http://127.0.0.1:8000/admin/
Django Version:	1.10.4
Exception Type:	ImportError
Exception Value:
cannot import name 'smart_unicode'
Exception Location:	/Users/Miro/Desktop/DjangoProjektApp/myvenv/lib/python3.5/site-packages/cache_utils/utils.py in <module>, line 2
Python Executable:	/Users/Miro/Desktop/Djang

[2017-01-02 23:37] #67 closed

[2017-01-02 23:38] MiroslawCzechorowski commented on #67
The problem was with the custom dashboard.

[2017-02-17 14:26] rootart opened #69 "Logged in user can delete arbitrary bookmarks knowing only id"
Currently, it is possible to delete any bookmark as there is no check if it belongs to the logged in user or not.
https://github.com/django-admin-tools/django-admin-tools/blob/master/admin_tools/menu/views.py#L82
Do you consider changing this behaviour?

Thanks.

[2017-02-22 08:33] asor1 commented on #43
TEMPLATES = [
    {
        'BACKEND': 'django.template.backends.django.DjangoTemplates',
        'DIRS': [],
        'APP_DIRS': True,
        'OPTIONS': {
            'context_processors': [
                'django.template.context_processors.debug',
                'django.template.context_processors.request',
                'django.contrib.auth.context_processors.auth',
                'djang

[2017-02-24 21:05] vstoykov commented on #69
Can you provide a pull request?

[2017-02-28 13:21] rootart commented on #69
@vstoykov thanks for the answer.  Sure, will prepare one this week.

[2017-03-06 14:49] KINGH242 commented on #43
In Django 1.10 you cannot have "APP_DIRS" setting simultaneously with 'loaders' option set in "Templates".

The solution, in my case at least, was to remove 'APP_DIRS':True, but make sure include 'django.template.loaders.app_directories.Loader' in the 'loaders' option under 'Templates'.  These two settings are one in the same.
For more info on Djanog Template Loaders see [here](https://docs.django

[2017-04-05 17:02] rootart commented on #69
@vstoykov would be great if you have a quick look on https://github.com/django-admin-tools/django-admin-tools/pull/70

[2017-05-02 09:13] #69 closed

[2017-05-02 09:16] izimobil commented on #66
I'm not sure I understand your issue, could you please elaborate ?
What is a "fallback default admin" ?

[2017-05-03 08:24] calicant commented on #66
I was referring to admin.site for urls that do not mach any prefix
in  ADMIN_TOOLS_MENU or  ADMIN_TOOLS_APP_INDEX_DASHBOARD dicts.

I admit that adding the default prefix to those urls is probably a better solution than this:

utils.py

[code]

[2017-05-11 19:36] shtalinberg opened #74 "Do you can add left sidebar customizable like menu bar?"
I think customizable left small sidebar it's very useful future.

[2017-05-16 01:34] jcanning opened #75 "Model ordering"
Is there any way to order the models when using the CustomIndexDashboard?
I thought it might make a difference the order I added them but it does not.

Also is there a way to remove the application link from the list or not allow it to use navigate to the AppIndexDashboard?

Thanks.

[2017-05-30 08:58] marekmalek opened #76 "Bookmark management actions raise error 500"
Version: 0.8
Django: 1.11

Any bookmark request (add/edit/remove) raise `TypeError at /admin_tools/menu/add_bookmark/
context must be a dict rather than RequestContext.` error:

[code]

Shouldn't you use `django.shortcuts.render` function instead of `django.shortcuts.render_to_response`?

[2017-06-27 12:37] marekmalek opened #77 "Dashboard columns not fully distributed"
Say I have 6 modules and specified 5 columns in a dashboard settings. As a result I'm presented 3 columns with 2 modules in each. I would expect having 2 modules in first column and 1 in others.
It's also not possible to drag and drop modules to missing columns because there is no placeholder created in DOM.

[2017-08-01 04:28] fangaofeng opened #78 "not found admin template"
django is 1.11.2

`OSError: [Errno 22] Invalid argument: 'E:\\bornadu\\grapheneserver\\templates\\admin:admin\\base.html'`

[code]

[2017-08-17 08:59] attmore commented on #75
how to reorder the models on a django-admin-tools dashboard?  got solution？

[2017-08-17 09:07] setsu commented on #58
### "Indeed, models are not sorted, I'm going to fix this very soon."
any news?

Thank you
Pietro

[2018-02-14 12:37] sharp commented on #47
with django2, it's still 404

[2018-02-17 14:48] #78 closed

[2018-03-22 14:58] lingxiaoyang commented on #75
+1

[2018-03-29 06:49] shtalinberg commented on #75
+1

[2018-03-29 11:47] RecNes opened #79 "Is this plug-in compatible with Django 2.0"
Last commit at May 30, 2017
Django 2 release date is Dec, 2017.

Readme is saying, requires 1.7 or newer. But, according to difference of dates, I'm wondering is "Admin Tools" plug-in is compatible with Django 2?

[2018-03-29 11:58] shtalinberg commented on #79
We are use 0.8.1 on new project with Django 2 - working fine

[2018-03-29 12:15] RecNes commented on #79
Thank you for the fast response.

[2018-04-16 09:47] #79 closed

[2018-05-16 10:05] stardust85 opened #80 "This app doesn't work with django-debug-toolbar"
##django-debug-toolbar is a popular (almost 5000 github stars) app for inspecting what django does inside (especially good for performance optimization of sql queries of ORM). However, if used with your app, the issue similar to https://github.com/bernardopires/django-tenant-schemas/issues/222 appears.

I applied the fix the related pull request of that issue (https://github.com/Cadasta/cadasta-pl

[2018-06-19 02:50] Chiheb-Nexus commented on #42
Thanks @arsenalstriker14  your config worked within django 2

[2018-10-01 13:44] RobinRamael opened #82 "Update to a secure version of jquery-ui (1.12.1)"
The jquery-ui version currently used by admin-tools is vulnerable to XSS exploits (see: https://snyk.io/vuln/npm:jquery-ui:20160721). Would it be difficult to update this?

I have a fork of admin-tools with the update which seems to be working for our use cases, which i can open a PR for, but I can't say I have enough experience with jQuery to be sure that simply bumping the version would not brea

[2018-11-16 13:53] izimobil commented on #80
I don't understand, this is the official way to setup django-debug-toolbar (https://django-debug-toolbar.readthedocs.io/en/latest/installation.html#urlconf) so what's need to be changed here in django-admin-tools ?

I've been using DAT with DDT for years and never had a problem.

Regards.

[2018-11-16 13:53] #80 closed

[2018-11-16 14:11] izimobil commented on #82
Hi, thanks for your report.

DAT is not affected by this issue as we only use jquery-ui for the sortable() functionality (in order to drag'n'drop dashboard modules), we should eventually find another small library and get rid of jquery-ui someday.

I'm keeping this opened as a reminder to clean up dependencies.

[2018-12-11 01:25] fzzylogic opened #84 "Support for Django 2 'view'"
Django 2 'view' permission type is not supported, so models are not shown as links and the menu is not populated if a user only has 'view' perms.

[2018-12-11 01:31] fzzylogic commented on #84
Submitted [pull request #85](https://github.com/django-admin-tools/django-admin-tools/pull/85/commits)

[2018-12-30 16:06] trevoriancox opened #87 "Mobile browser support with responsive columns"
I'm investigating this along with django-flat-responsive, as an alternative to django-grappelli in order to find a solution for using django admin on both mobile devices and desktop. However, with a narrow browser window (e.g. phone), if I've specified 4 columns it just tries to fit all 4 in the screen width. How about making `columns` a maximum rather than a requirement? And show only the number

[2019-01-01 23:19] magicl opened #88 "Django 3 deprecation warning on 'load staticfiles'"
With Django 2.1.4, I get the following deprecation warning:
`
django.utils.deprecation.RemovedInDjango30Warning: {% load staticfiles %} is deprecated in favor of {% load static %}
`
The cause seems to be css.html for dashboard and menu, which contains 'staticfiles'

[2019-01-07 04:46] willgearty opened #89 "NoReverseMatch at /admin/"
I just tried to install and configure this great tool, but I'm running into the following issue.
I would appreciate any guidance. Thanks!

My templates look like this:

My installed apps:

And my urls.py:

[2019-02-14 12:00] PetrDlouhy commented on #87
The mobile experience is quite bad even with 2 columns. The columns are narrow, and they resize during page loading so if I click to something before the page is fully loaded I end up on different page.

[2019-03-13 15:16] BrunoDesthuilliers opened #90 "is a new release planned ?"
I see there have been a couple fixes for django >= 1.11 but the version number is still at 0.8.1 so the only way to update is to install from git - which is a huge no-no for production code. Is there any new release planned ?

[2019-03-13 15:22] BrunoDesthuilliers opened #91 "utils.filter_models.full_name is broken"
`utils.filter_models.full_name` uses `model.__module__` and `model.__name__`, while everything in Django uses `model._meta.app_label` and `model._meta.model_name` to build the model's full name. As a result, refactoring an app's models into a package with submodules breaks `filter_models` (everything else in Django works perfectly fine after this change) when patterns based on app_label/model_name

[2019-03-13 21:56] izimobil commented on #90
When pigs fly

[2019-03-13 21:57] izimobil commented on #91
PR welcome.

[2019-05-03 15:16] vdboor opened #92 "Admin layout broken in Django 2.2"
In Django 2.2 the admin menu is no longer shown properly.
This happens due to this CSS rule in Django's default styling: `#header { display: flex }`.

I've tried tweaking this, but my flexbox knowledge is limited here, so I hope someone could look into this.

[2019-05-09 08:52] mmcardle commented on #92
@vdboor
I copied this template to my own templates and added the snippet below
https://github.com/django-admin-tools/django-admin-tools/blob/master/admin_tools/menu/templates/admin_tools/menu/css.html

[code]

[2019-06-14 08:30] #88 closed

[2019-06-14 08:30] #92 closed

[2019-07-04 14:32] HT-Moh opened #94 "admin_tools_dashboard_preferences"
Hi
I installed admin tools, after adding the apps and running the migrations I got the following error
I am using django2
[code]

Can you please help?

[2019-08-04 17:04] lumega commented on #87
I added to base_site.html the followring

[code]
class CustomIndexDashboard(Dashboard):
    """
    Custom index dashboard for survey.
    """
    def init_with_context(self, context):
        # ... your code
        self.columns = self.set_columns(context)
[code]

[2019-10-10 10:05] l25359423 opened #95 "Always log out automatically"
python3.7 + django2.1

I am not sure if it is my configuration problem, I often log out automatically when I operate the day after tomorrow.

I hope I can get help!

[2019-10-10 10:06] l25359423 commented on #95
I can't find any answer I want on the Internet. It seems that only I have encountered this problem alone, which makes me very puzzled.

[2019-10-28 10:36] prakhar-goel opened #96 "User based query permission"
As detailed in this question, https://stackoverflow.com/questions/45320643/django-sql-explorer-user-based-query-access can we authorize different queries based on User or User Groups?

For example, for an organisation, there are 2 groups - workers and managers.
Workers group should only get access to query1 and query2. Managers group has access to all queries.

[2019-10-28 10:40] izimobil commented on #96
How is this related to django-admin-tools ?!

[2019-11-09 19:07] narun4sk opened #97 "Invalid template name in 'extends' tag: ''. Got this from the 'template' variable."
Lately seeing errors like the following:

[code]

[code]

Any advice please?

[2019-11-30 11:53] mnsrknp commented on #42
Worked for in django 2.2
`'OPTIONS': {
            'context_processors': [
                'django.template.context_processors.debug',
                'django.template.context_processors.request',
                'django.contrib.auth.context_processors.auth',
                'django.contrib.messages.context_processors.messages',

            ],
            'loaders': [
                'admin_tools

[2019-12-06 02:10] robertpro commented on #90
@izimobil look at this

![image](https://user-images.githubusercontent.com/8595170/70289697-3680c580-179b-11ea-9d98-7f53ed5000c9.png)

[2019-12-16 17:46] vladpaul09 opened #99 "ImportError: cannot import name 'render_to_response' Django 3.0 upgrade used pip"
The render_to_response shortcut was deprecated in Django 2.0, and is removed in Django 3.0.

[2019-12-16 18:09] vladpaul09 commented on #99
i see in git that admin-tools/menu/views.py use render.

[2019-12-17 08:58] vladpaul09 commented on #99
I resolve it by cloning the project and run python setup.py install. I think the pip module install is linked with old version, must be updated.

[2019-12-17 11:58] useHTML5 opened #100 "JS dont add last column"
If I set in config 4 columns I will see 3 in dashboard. If set 6 columns js adds only 5 columns.
[code]
I looking for file jquery.dashboard.js and see problem in this code (line 148) function _columnize:
[code]
because if slice is empty it will not add new column.

I make a fix for this
[code]

[2019-12-19 07:50] ddimmich commented on #99
This is fixed in this PR: https://github.com/django-admin-tools/django-admin-tools/pull/98

[2019-12-20 14:17] #99 closed

[2020-01-06 06:41] bashu commented on #90
@robertpro

https://youtu.be/0LTgNVwfMAE?t=65

[2020-01-06 09:56] yakky commented on #90
@izimobil do you need any help in releasing this? I'm quite familiar with the release process and I can commit some time to make the next release happen
As I already have the commit access I just need proper permissions on pypi

[2020-01-18 09:31] izimobil commented on #90
@yakky if you have commit access, go ahead and prepare the new release (readme, changelog, etc.), then I'll publish it to pypi, thanks !.

[2020-01-18 17:59] yakky commented on #90
I created `release/0.9.0` to run tests against it if everything is green I'll push commit 8deac260f20f10d47b3a2f8407135997362578fe directly to master and I will tag it
I marked release as 0.9.0

After this I already have a PR for Django 3.0 support, but I think it's better to release what we have now and ship django 3.0 in (possibly near) future release

[2020-01-18 23:41] yakky commented on #97
This is fixed in master
Expect 0.9.0 release soon

[2020-01-18 23:43] yakky commented on #94
Which is the installed version?

[2020-01-18 23:44] yakky commented on #95
Which version have you installed?

[2020-01-18 23:45] yakky commented on #91
@BrunoDesthuilliers could you chech if it's fixed in current master?

[2020-01-18 23:48] yakky commented on #76
This has been fixed in 0.8.1
closing, thanks @marekmalek for the report

[2020-01-18 23:48] #76 closed

[2020-01-19 00:06] yakky commented on #90
#98 merged with #101 tagging 0.9.0 release

[2020-01-19 00:14] yakky commented on #90
@izimobil 0.9.0 merged on master and tagged
Feel free to release to pypi at any time
I will close related issues (tagged with `0.9.0` milestone) after release on pypi

Thanks all here for your patience!

[2020-01-19 10:53] izimobil commented on #90
Finally 0.9.0 is out: https://pypi.org/project/django-admin-tools/
Many thanks to @yakky and all the people who helped !

[2020-01-19 10:53] #90 closed

[2020-01-19 10:56] yakky commented on #84
@fzzylogic thanks for your work
Finally 0.9.0 is out: https://pypi.org/project/django-admin-tools/

[2020-01-19 10:56] #84 closed

[2020-01-19 10:57] yakky commented on #97
0.9.0 is out: https://pypi.org/project/django-admin-tools/

[2020-01-19 10:57] #97 closed

[2020-01-19 11:01] yakky commented on #90
@izimobil thans for the release!

[2020-02-06 12:37] shtalinberg opened #103 "conflict with django-constance app?"
Request Method: | GET
http://localhost:8000/admin/constance/
Django 2.2.10
AttributeError
'Meta' object has no attribute 'concrete_model'

/.venv/3.6.4/lib/python3.6/site-packages/admin_tools/dashboard/dashboards.py in

def get_app_content_types(self):
        """
        Return a list of all content_types for this app.
        """
        # Import this here to silence RemovedInDjango19Warning. Se

[2020-02-11 03:58] willgearty commented on #89
My team is still running into this problem. @izimobil @yakky any thoughts?

[2020-02-16 20:07] willgearty commented on #89
Never mind, I finally figured out the problem! We don't use the default django user model, so the dashboard couldn't pull the resolver for it.

[2020-02-16 20:07] #89 closed

[2020-02-18 22:03] lggwettmann commented on #43
This would be useful in the documentation. It's very messy in the configuration section and this clarified it for me a lot. Thanks for this post.

[2020-02-19 06:02] yakky commented on #103
Confirmed

[2020-03-22 19:31] ddimmich opened #105 "Jquery 1.9 considered insecure"
Hi,

We've been informed that the jquery version is considered insecure (the jquery-ui security ticket that you already have open was also considered):

https://nvd.nist.gov/vuln/detail/CVE-2015-9251
https://nvd.nist.gov/vuln/detail/CVE-2019-11358#vulnCurrentDescriptionTitle

What would it take to bump jquery to a newer version - happy to try and allocate some resource to help.

Thank you,
Damian

[2020-03-22 20:43] izimobil commented on #105
Nice, go !

[2020-04-06 22:55] TheReFTW commented on #89
@willgearty How did y'all resolve this? I'm running into the same issue.

[2020-04-06 23:03] willgearty commented on #89
We have our own custom `admin_site` that we use to register models to, so I just needed to edit `admin_tools/utils.py` to return that instead of the default django one in `get_admin_site()`. The modified version is [here](https://github.com/learning-unlimited/django-admin-tools/blob/esp/admin_tools/utils.py), maybe it'll be useful.

[2020-04-06 23:35] TheReFTW commented on #89
It did! Thanks so much.

[2020-05-09 14:50] jayvdb opened #107 "Application labels aren't unique, duplicates: dashboard"
This conflicts with https://github.com/django-oscar/django-oscar 's dashboard, which is a part of the store, and its dashboard uses label `dashboard`

[2020-06-07 08:18] amitb2050 commented on #94
I am also facing the same issue with 0.9.0 and older versions as well. I am using Django 2.1. Any fix available?

[2020-06-07 09:43] amitb2050 commented on #94
For anyone else that may end up here in search of a fix for this. The issue is because admin tools and jet dashboard have identical migration names.

**Solution:** You must delete the dashboard migration for jet.dashboard from the database, then run migrations again.

DELETE FROM public.django_migrations WHERE app='dashboard' and name='0001_initial'

![71996350-0bf6b200-320a-11ea-8cb2-a84fea253f06

[2020-06-23 05:47] oderofrancis commented on #47
am experiencing the same problem ,i  have tried to debug but nothing has changed

[2020-07-02 23:30] StevenMonty commented on #47
I am also experiencing this with Django 3.0.7, I even copied and pasted the settings from the test file and still not working.

[2020-07-12 08:33] TheReFTW opened #109 "Cannot extend admin-tools blocks into templates"
Hi friends!

I'd like to be able to extend the admin-tools blocks into my new admin templates, but can only extend:

{% extends "admin/index.html" %}
{% extends "admin/base.html" %}
{% extends "admin/base_site.html" %}

None of which have the admin-tools blocks with the appropriate css and jquery. Is there a specific template I should be calling on instead?

Thanks,

[2020-07-15 23:22] deveshgoyal commented on #47
For Django 2.2

In settings.py

[code]
[code]

[2020-07-29 15:48] jainendra-chegg opened #110 "Any thoughts having a UI to configure (show/hide) columns of a table for users according to permissions"
I just stumbled upon an awesome tool - retool - was really fascinated with the idea of having things configurable via UI itself. There is another tool call Forest Admin.

All these tools allow to configure views according to user permissions but most importantly its configurable via the UI, No need to write code.

Thoughts ? Do we have any plans for incorporating such features

[2020-08-20 20:06] Smit-mandavia commented on #42
Thanks @arsenalstriker14 your config worked within django 3.0
I was stuck actually.

[2020-09-21 04:36] magicl opened #111 "New release on pypi"
Would it be possible to package up a new release on pypi? Looking forward to using the lib with the new Django 3.0 fixes.

Thank you!

[2020-09-26 11:19] jayvdb opened #112 "Menu: Collapse sub-menus of apps with only one model"
Many apps have only one model.  Pushing their modeladmin into a sub-menu that has only a single item adds extra work required to access them.

[2020-09-26 11:21] jayvdb opened #113 "Menu: Detect most important model per app"
For menus of apps with multiple models, usually one is the most important, and the others are related and less frequently used.

One basic strategy would be to detect where app and model names are identical.  e.g. `order.Order`.

It would be nice if that model is first in the sub-menu for that app.

[2021-01-12 11:37] #105 closed

[2021-01-12 11:53] izimobil commented on #111
9.1 is out.

[2021-01-12 11:53] #111 closed

[2021-01-12 11:54] izimobil commented on #82
Fixed in 0.9.1

[2021-01-12 11:54] #82 closed

[2021-01-12 13:46] shtalinberg commented on #103
https://github.com/jazzband/django-constance/issues/244  related ticket in that app
 a workaround for admin.py is worked - but maybe this bag  can be resolved without a workaround?

[2021-01-12 14:36] izimobil commented on #103
I've "fixed" the issue by intercepting the AttributeError, but IMO, this should be fixed on django-constance side because it can happen with other third party apps (see @jezdez comment : https://github.com/jazzband/django-constance/issues/244#issuecomment-346974463)

[2021-01-12 14:36] #103 closed

[2021-01-12 14:40] #96 closed

[2021-01-12 14:48] izimobil commented on #74
The new django admin has now a sidebar, so I'm closing this issue.

[2021-01-12 14:48] #74 closed

[2021-01-12 14:56] izimobil commented on #100
Fixed, thanks !

[2021-01-12 14:56] #100 closed

[2021-01-12 15:03] izimobil commented on #94
@amitb2050 thanks for the explanation, I've changed the issue title

[2021-01-12 15:05] izimobil commented on #94
Related: #107

[2021-01-12 15:09] izimobil commented on #39
Nexus project is not maintained anymore, so I'm closing this @andybak

[2021-01-12 15:09] #39 closed

[2021-01-12 15:52] jezdez commented on #103
I've opened a PR in django-constance to see if this fixes the issue..

[2021-01-30 19:20] prasanta303 opened #114 "Error while running the tests"
Downloaded the code, unzipped it and go to folder '**test_proj**'.
Then tried to run using command '**python manage.py test**' from DOS command line.

**Getting the error as below**,
_Traceback (most recent call last):
  File "manage.py", line 31, in <module>
    manage_16ormore()
  File "manage.py", line 16, in manage_16ormore
    execute_from_command_line(sys.argv)
..............................

[2021-01-30 19:43] prasanta303 commented on #114
Resolved from "**Error on windows envirament #32**"

[2021-01-30 19:43] #114 closed

[2021-02-12 14:49] prasanta303 opened #115 "Can User Administration would do CRUD operation through 3rd party REST api instead of DB data"
We have to manage user administration for our custom application. For this we have already written REST API services. We want to use django-admin-tools user administration features by calling our REST API services instead of using direct DB transactions.

_So, we want to do,_
**1. Login to Django Admin Tools with super user as Django normal feature, super user be saved in DB as normal.
2. Django n

[2021-05-12 08:26] Aqib8860 commented on #42
Really Helpful..................Thnx Its solve my issues!

[2021-07-14 14:50] alexandernst opened #116 "Customizable sidebar"
Is there a way to customize the sidebar of Django's admin with this package? I'm particularly interested in excluding some of the apps from the sidebar.

[2021-08-04 11:52] Dokeey commented on #75
+1

[2021-09-25 06:57] daadu opened #118 "[UI] compatible with Django Admin's Dark mode"
The current UI (Dashboard) does not look compatible with Django Admin's dark mode.

[2021-12-12 14:03] #118 closed

[2022-02-01 02:11] Obie-Wan opened #119 "dont work in django 4 python 3.8 -unable to import dashboard.py"
`nternal Server Error: /admin/
Traceback (most recent call last):
  File "/home/kirill/projects/sass/ma-manager-admin/venv/lib/python3.8/site-packages/django/core/handlers/exception.py", line 47, in inner
    response = get_response(request)
  File "/home/kirill/projects/sass/ma-manager-admin/venv/lib/python3.8/site-packages/django/core/handlers/base.py", line 204, in _get_response
    response =

[2022-03-14 15:21] Ash-Crow opened #120 "Error parsing template admin_tools/menu/dummy.html: Invalid template name in 'extends' tag: ''"
I have the following error from django-admin-tools when using django-compressor:

[code]

Versions:
- Python 3.10.1
- Django==3.2.12
- django-admin-tools==0.9.2

[2022-03-24 00:13] josircg opened #121 "Incompatibility between django-debug-toolbar and django-admin-tools"
Hi folks, hope you can help with that. Django 2.2, django-admin-tools==0.9.2

On the template config of django-admin-tools, I have to add APP_DIR = False
But on django-debug-toolbar, I have to add APP_DIR = True

Do you have a bypass or suggestion on how to make both compatible?

[2022-03-29 14:00] josircg commented on #80
Hi Izimobil, they change their template configuration and now it's not compatible with django-admin-tools anymore.

[2022-05-04 20:51] murraylchapman opened #122 "Add default theming support for Django's new dark mode"
Django 3.2 introduced a [dark theme](https://docs.djangoproject.com/en/4.0/ref/contrib/admin/#admin-theming) that respects [prefers-color-scheme](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme) media queries.

When enabled via OS or browser, Django looks nice in dark mode except for admin tools menus, etc. It would be great if the default admin-tools theme had dark mo

[2022-05-04 21:44] #122 closed

[2022-05-04 22:29] murraylchapman commented on #122
Just saw this as a dupe of issue #118

[2022-10-03 10:45] PetrDlouhy commented on #87
@izimobil Why do you think, that this would be lot of work and not worth fixing? I think, that @luismejiadev's solution works very well. And I think that showing only one column for screen widths less than 800px is reasonable setup for 99 % of cases.

[2022-10-03 11:18] izimobil commented on #87
Making DAT fully responsive is not only about dashboard columns, you need to adapt tables in change lists, adapt the menu (hamburger menu), etc. That's why I added the "lot of work" tag.

I never said it was not worth fixing, it's simply that I don't have the time nor the need to do it. Pull requests are welcome ;)

Regarding columns, what needs to be fixed exactly ?
As @luismejiadev posted, you c

[2022-10-03 12:05] PetrDlouhy commented on #87
I think, that the two (more) column setup on mobile portrait is the biggest problem and solution that fixes only that should be part of the code.

I find the CSS solution for the columns more suitable - it doesn't depend on the device being tablet/mobile phone.
It depends on screen width, which is better in my opinion. For example two columns on tablet landscape is probably not a problem.